.task1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  padding: 15px;
}

.realisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.realisation pre {
  padding-top: 15px;
  font-size: 1.5rem;
}
